<h1>Библиотека LIBScript. Обзор.</h1>
<p>Библиотека LibScript — это служебная библиотека скриптов для проекта «Экспонента». С недавних пор разработчик, NIT Inc, включил её в список обязательного компонента своего админ-пака.</p>
<p>Библиотека поставляется в виде самораспаковывающегося архива с паролем LIBScript.SFX.exe. Для удобства установки написан скрипт, устанавливающий этот архив напрямую из Интернета.</p>
<h3>Устанавливаемые компоненты</h3>
<p>Вместе с библиотекой устанавливаются следующие пакеты корпорации NIT:</p>
<ul>
<li>обновления системы;</li>
<li>chocolatey;</li>
<li>Exponenta Admin Pack;</li>
<li>Admin Set 01;</li>
<li>Additional Admin Set;</li>
<li>Elevation Packet;</li>
<li>Hidden Start;</li>
<li>RMS Host;</li>
<li>Reverse Monitoring;</li>
<li>Настраиваются протоколы SMB и WinRM;</li>
<li>7Zip;</li>
<li>sysinternal;</li>
<li>UnxUtils;</li>
<li>curl;</li>
<li>wget;</li>
<li>и другие.</li>
</ul>
<h3>Назначение</h3>
<p>С помощью библиотеки и этих пакетов можно облегчить жизнь администратору и управлять любым компьютером, не входящим в домен Windows. Это очнь удобно, например, на выделенных серверах и удалённых терминалах компании.</p>
<h3>Ограничения в использовании</h3>
<p>Корпорация предупреждает о недопустимости использования данного админ-пака в противоправных действиях. Несмотря на скрытую установку пакетов, пользователь должен дать письменное разрешение на использовании у себя на компьютере админ-пака и согласием с лицензионным соглашением на все используемые в пакете программы.</p>
<p>Даная библиотека понижает уровень защищённости компьютеров и сетей, в которых установлен данный продукт. Не рекомендуется использовать этот продукт в сетях и на компьютерах с повышенными требованиями секретности, содержащих государственную либо коммерческую тайну.</p>
